@model ContactsViewModel
@{
    ViewData["Title"] = "Contacts";
}

<section class="text-center">
    <h1 class="display-4">Contacts</h1>
    <table role="grid">
        <thead>
            <tr>
                <th scope="col">Page Render Only</th>
                <th scope="col">Out of Band</th>
                <th scope="col">Header Event</th>
                <th scope="col">Poll</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="resultCountA">
                    <partial name="ContactCount.cshtml" model="@Model.ContactResultCount" />
                </td>
                <td id="resultCountB"></td>
                <td id="resultCountC"
                    hx-trigger="load, contactCountChanged from:body"
                    hx-get="@Url.Action("ListCount", "Contacts")"
                    hx-include="[name='q']"
                ></td>
                <td id="resultCountD"
                    hx-trigger="load, every 2s"
                    hx-get="@Url.Action("ListCount", "Contacts")"
                    hx-include="[name='q']"
                ></td>
            </tr>
        </tbody>
    </table>
    <input
        id="search"
        type="search"
        name="q"
        value="@Model.Query"
        placeholder="Search..."
        hx-get="@Url.Action("List", "Contacts")"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#contacts > tbody"
        hx-swap="innerHTML"
        hx-push-url="true"
        hx-indicator="#spinner"
    />
    <progress id="spinner" class="htmx-indicator"></progress>
    <table id="contacts">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <partial name="ContactItems.cshtml" />
        </tbody>
    </table>
</section>