@addTagHelper *, Htmx.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="htmx-config" content='{"useTemplateFragments": true}'>
    <title>@ViewData["Title"] - dotnet_demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@1/css/pico.classless.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body hx-boost="true">
    <header class="hero" data-theme=dark>
        <hgroup>
        <h1><a class="navbar-brand" href="@Url.Action("Index", "Home")">HTMX dotnet Demo</a></h1>
        <h2>A demo of <code>HTMX</code> using dotnet as the server.</h2>
        </hgroup>

        <nav>
            <ul
                hx-target="main"
                hx-swap="innerHTML"
                hx-push-url="true"
                hx-sync="this:queue last"
            >
                <li>
                    <a hx-get="@Url.Action("Index", "Home")" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li>
                    <a hx-get="@Url.Action("Privacy", "Home")" href="@Url.Action("Privacy", "Home")">Privacy</a>
                </li>
                <li>
                    <a hx-get="@Url.Action("List", "Contacts")" href="@Url.Action("List", "Contacts")">Contacts</a>
                </li>
            </ul>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <small>
            &copy; 2023 - dotnet_demo - <a href="@Url.Action("Privacy", "Home")">Privacy</a>
        </small>
    </footer>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
